---
import type {
  EndpointImage,
  EndpointMediaThumbnail,
  EndpointScanImage,
} from "src/shared/payload/payload-sdk";
import Card from "components/Card.astro";
import { Icon } from "astro-icon/components";
import type { ComponentProps } from "astro/types";
import { getI18n } from "src/i18n/i18n";
import InlineAttributes from "components/InlineAttributes.astro";
import { sizesToSrcset, sizesForGridLayout } from "src/utils/img";

interface Props {
  thumbnail?: EndpointImage | EndpointMediaThumbnail | EndpointScanImage | undefined;
  pretitle?: string | undefined;
  title: string;
  subtitle?: string | undefined;
  href?: string | undefined;
  attributes?: ComponentProps<typeof InlineAttributes>["attributes"];
  disableRoundedTop?: boolean;
  smallTitle?: boolean;
  icon?: string;
  iconHoverLabel?: string;
}

const { t } = await getI18n(Astro.locals.currentLocale);

const {
  thumbnail,
  title,
  pretitle,
  subtitle,
  href,
  attributes = [],
  smallTitle = false,
  disableRoundedTop = false,
  icon = "material-symbols:unknown-document",
  iconHoverLabel = t("global.previewTypes.unknown"),
} = Astro.props;
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<Card href={href} disableRoundedTop={disableRoundedTop && thumbnail !== undefined}>
  <div id="card">
    {
      thumbnail && (
        <img
          class:list={{ "rounded-top": !disableRoundedTop }}
          src={thumbnail.url}
          srcset={sizesToSrcset(thumbnail.sizes)}
          sizes={sizesForGridLayout(250, 1.15)}
          width={thumbnail.width}
          height={thumbnail.height}
          loading="lazy"
        />
      )
    }

    <div id="icon-container" class:list={{ "thumbnail-alt": !thumbnail }} title={iconHoverLabel}>
      <Icon name={icon} width={32} height={32} />
    </div>

    <div id="footer">
      {
        smallTitle ? (
          <p class="font-l">{title}</p>
        ) : (
          <p>
            {pretitle && (
              <span id="pretitle" class="font-s">
                {pretitle}
              </span>
            )}
            <span id="title" class="font-serif font-2xl">
              {title}
            </span>
            {subtitle && (
              <span id="subtitle" class="font-serif font-m">
                {subtitle}
              </span>
            )}
          </p>
        )
      }

      {
        attributes.length > 0 && (
          <>
            {subtitle && <hr />}
            <div id="tags">
              <InlineAttributes attributes={attributes} />
            </div>
          </>
        )
      }
    </div>
  </div>
</Card>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  :global(a > #card) {
    & > #card > div > p > #title {
      transition-duration: 150ms;
      transition-property: color;
    }

    &:hover > #card > div > p {
      color: var(--color-base-750);
    }

    &:active > #card > div > p {
      color: var(--color-base-1000);
    }
  }

  #card {
    position: relative;

    & > img {
      width: 100%;
      height: auto;

      &.rounded-top {
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
      }
    }

    & > #icon-container {
      &.thumbnail-alt {
        margin: 0.4em;
        margin-bottom: unset;
        aspect-ratio: 3/2;
        background-color: var(--color-elevation-2);
        color: var(--color-base-400);
        display: grid;
        place-content: center;

        & > :global(svg) {
          width: 64px;
          height: 64px;
        }
      }

      &:not(.thumbnail-alt) {
        position: absolute;
        top: 0.4em;
        left: 0.4em;
        padding: 0.5em;
        backdrop-filter: blur(5px);
        background-color: color-mix(in srgb, var(--color-elevation-2) 60%, transparent);
      }

      border-radius: 0.7em;
    }

    & > #footer {
      padding: 1em;
      display: flex;
      flex-direction: column;
      gap: 1.2em;

      & > p {
        display: grid;

        & > #pretitle {
          margin-bottom: 0.4em;
        }

        & > #title {
          line-height: 0.8;
        }

        & > #subtitle {
          margin-top: 0.4em;
        }
      }

      & > hr {
        border: none;
        border-top: 2px dotted var(--color-base-500);
        width: 100%;
        margin: unset;
      }
    }
  }
</style>
