---
import RichText from "components/RichText/RichText.astro";
import { payload, type EndpointPage } from "src/shared/payload/payload-sdk";
import AppLayoutTitle from "components/AppLayout/components/AppLayoutTitle.astro";
import MasoTarget from "components/Maso/MasoTarget.astro";
import TagGroups from "components/TagGroups.astro";
import TableOfContent from "components/TableOfContent/TableOfContent.astro";
import LanguageOverride from "components/LanguageOverride.astro";
import Credits from "components/Credits.astro";
import { getI18n } from "src/i18n/i18n";
import AsideLayout from "components/AppLayout/AsideLayout.astro";
import AppLayoutDescription from "components/AppLayout/components/AppLayoutDescription.astro";

export const partial = true;

interface Props {
  lang?: string;
  slug?: string;
  page?: EndpointPage;
}

const reqUrl = new URL(Astro.request.url);
const lang = Astro.props.lang ?? reqUrl.searchParams.get("lang")!;
const slug = Astro.props.slug ?? reqUrl.searchParams.get("slug")!;
const page = Astro.props.page ?? (await payload.getPage(slug));

const { getLocalizedUrl } = await getI18n(Astro.locals.currentLocale);
const { getLocalizedMatch } = await getI18n(lang);

const translation = getLocalizedMatch(page.translations);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<MasoTarget>
  <AsideLayout>
    <Fragment slot="header">
      <AppLayoutTitle
        title={translation.title}
        pretitle={translation.pretitle}
        subtitle={translation.subtitle}
      />
    </Fragment>

    <Fragment slot="header-aside">
      {
        page.thumbnail && (
          <a href={getLocalizedUrl(`/images/${page.thumbnail.id}`)}>
            <img
              id="thumbnail"
              src={page.thumbnail.url}
              width={page.thumbnail.width}
              height={page.thumbnail.height}
            />
          </a>
        )
      }
    </Fragment>

    <Fragment slot="meta">
      {translation.summary && <AppLayoutDescription description={translation.summary} />}
      {page.tagGroups.length > 0 && <TagGroups tagGroups={page.tagGroups} />}
    </Fragment>

    <Fragment slot="aside">
      {
        page.translations.length > 1 && (
          <LanguageOverride
            currentLang={lang}
            availableLanguages={page.translations.map(({ language }) => language)}
            getPartialUrl={(lang) =>
              getLocalizedUrl(`/api/pages/partial?lang=${lang}&slug=${slug}`)
            }
          />
        )
      }

      {translation.credits.length > 0 && <Credits credits={translation.credits} />}

      {translation.toc.length > 0 && <TableOfContent toc={translation.toc} />}
    </Fragment>

    <hr />
    <div id="text">
      <RichText content={translation.content} />
    </div>
  </AsideLayout>
</MasoTarget>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  hr {
    border: none;
    border-top: 3px dotted var(--color-base-500);
    margin-block: 3em;
  }

  #thumbnail {
    max-width: 35rem;
    max-height: 60vh;
    width: 100%;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 5px 20px -10px var(--color-shadow);
    transition: 100ms scale;

    @media (max-width: 1280.5px) {
      margin-top: 2em;
    }

    @media (min-width: 1280.5px) {
      margin-bottom: 2em;
    }

    &:hover {
      scale: 102%;
    }
  }
</style>
