---
import RichText from "components/RichText/RichText.astro";
import type { EndpointPage } from "src/shared/payload/payload-sdk";
import AppLayoutTitle from "components/AppLayout/components/AppLayoutTitle.astro";
import MasoTarget from "components/Maso/MasoTarget.astro";
import TableOfContent from "components/TableOfContent/TableOfContent.astro";
import LanguageOverride from "components/LanguageOverride.astro";
import Credits from "components/Credits.astro";
import { getI18n } from "src/i18n/i18n";
import AsideLayout from "components/AppLayout/AsideLayout.astro";
import Attributes from "components/Attributes.astro";
import type { Attribute } from "src/utils/attributes";
import { payload } from "src/utils/payload";
import { sizesToSrcset } from "src/utils/img";

export const partial = true;

interface Props {
  lang?: string;
  slug?: string;
  page?: EndpointPage;
}

const reqUrl = new URL(Astro.request.url);
const lang = Astro.props.lang ?? reqUrl.searchParams.get("lang")!;
const slug = Astro.props.slug ?? reqUrl.searchParams.get("slug")!;
const { translations, thumbnail, createdAt, updatedAt, updatedBy, attributes } =
  Astro.props.page ?? (await payload.getPage(slug)).data;

const { getLocalizedUrl, t, formatDate } = await getI18n(Astro.locals.currentLocale);
const { getLocalizedMatch } = await getI18n(lang);

const { pretitle, title, subtitle, summary, content, credits, toc, language, sourceLanguage } =
  getLocalizedMatch(translations);

const metaAttributes: Attribute[] = [
  {
    title: t("global.media.attributes.createdAt"),
    icon: "material-symbols:calendar-add-on",
    values: [{ name: formatDate(new Date(createdAt)) }],
    withBorder: false,
  },
  {
    title: t("global.media.attributes.updatedAt"),
    icon: "material-symbols:edit-calendar",
    values: [{ name: formatDate(new Date(updatedAt)) }],
    withBorder: false,
  },
];

if (updatedBy) {
  metaAttributes.push({
    title: t("global.media.attributes.updatedBy"),
    icon: "material-symbols:person-edit",
    values: [{ name: updatedBy.username, href: getLocalizedUrl(`/recorders/${updatedBy.id}`) }],
    withBorder: true,
  });
}
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

{" " /* TODO: To be removed when https://github.com/withastro/astro/issues/11103 is fixed */}
<MasoTarget>
  <AsideLayout>
    <Fragment slot="header">
      <AppLayoutTitle title={title} pretitle={pretitle} subtitle={subtitle} lang={language} />
    </Fragment>

    <Fragment slot="header-aside">
      {
        thumbnail && (
          <a
            id="thumbnail"
            href={getLocalizedUrl(`/images/${thumbnail.id}`)}
            style={`aspect-ratio: ${thumbnail.width}/${thumbnail.height};`}>
            <img
              src={thumbnail.url}
              srcset={sizesToSrcset(thumbnail.sizes)}
              sizes={`(max-width: 550px) 90vw, 550px`}
              width={thumbnail.width}
              height={thumbnail.height}
            />
          </a>
        )
      }
    </Fragment>

    <Fragment slot="meta">
      {
        summary && (
          <div id="summary">
            <RichText content={summary} context={{ lang: language }} />
          </div>
        )
      }
      {attributes.length > 0 && <Attributes attributes={attributes} />}
    </Fragment>

    <Fragment slot="aside">
      <div id="credits">
        <LanguageOverride
          currentLanguage={language}
          currentSourceLanguage={sourceLanguage}
          availableLanguages={translations.map(({ language }) => language)}
          getPartialUrl={(lang) => getLocalizedUrl(`/api/pages/partial?lang=${lang}&slug=${slug}`)}
        />

        {credits.length > 0 && <Credits credits={credits} />}
      </div>

      {metaAttributes.length > 0 && <Attributes attributes={metaAttributes} />}

      {toc.length > 0 && <TableOfContent toc={toc} lang={language} />}
    </Fragment>

    <hr />
    <div id="text">
      <RichText content={content} context={{ lang: language }} />
    </div>
  </AsideLayout>
</MasoTarget>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  hr {
    border: none;
    border-top: 3px dotted var(--color-base-500);
    margin-block: 24px;
    width: min(100%, 35rem);
  }

  #credits {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: 35rem) {
      gap: 32px;
    }
  }

  #summary {
    @media (max-width: 1280.5px) {
      margin-top: -2em;
    }
  }

  #thumbnail {
    border-radius: 16px;
    transition: 100ms scale;

    max-height: 80vh;
    max-width: min(35rem, 100%);

    & > img {
      border-radius: 16px;
      box-shadow: 0 5px 20px -10px var(--color-shadow-0);
    }

    &:hover,
    &:focus-visible {
      scale: 102%;
    }
  }
</style>
