---
import AppLayout from "components/AppLayout/AppLayout.astro";
import AppLayoutTitle from "components/AppLayout/components/AppLayoutTitle.astro";
import Credits from "components/Credits.astro";
import { getI18n } from "src/i18n/i18n";
import { payload } from "src/utils/payload";
import { fetchOr404 } from "src/utils/responses";
import ScanPreview from "./_components/ScanPreview.astro";
import { formatInlineTitle, formatRichTextToString } from "src/utils/format";
import AppLayoutDescription from "components/AppLayout/components/AppLayoutDescription.astro";

const slug = Astro.params.slug!;
const { getLocalizedMatch, t } = await getI18n(Astro.locals.currentLocale);

const scans = await fetchOr404(() => payload.getCollectibleScans(slug));
if (scans instanceof Response) {
  return scans;
}

const { translations, credits, cover, pages, dustjacket, obi, parentPages, thumbnail } = scans;

const translation = getLocalizedMatch(translations);

const hasInsideCover = cover ? Object.keys(cover).some((value) => value.includes("inside")) : false;
const hasOutsideCover = cover
  ? Object.keys(cover).some((value) => !value.includes("inside"))
  : false;

const hasInsideDustjacket = dustjacket
  ? Object.keys(dustjacket).some((value) => value.includes("inside"))
  : false;
const hasOutsideDustjacket = dustjacket
  ? Object.keys(dustjacket).some((value) => !value.includes("inside"))
  : false;

const hasInsideObi = obi ? Object.keys(obi).some((value) => value.includes("inside")) : false;
const hasOutsideObi = obi ? Object.keys(obi).some((value) => !value.includes("inside")) : false;
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<AppLayout
  openGraph={{
    title: `${formatInlineTitle(translation)} (${t("collectibles.scans.title")})`,
    description: translation.description && formatRichTextToString(translation.description),
    thumbnail,
  }}
  parentPages={parentPages}>
  <AppLayoutTitle
    title={translation.title}
    pretitle={translation.pretitle}
    subtitle={translation.subtitle}
  />

  <div id="meta" class:list={{ "with-description": translation.description }}>
    {translation.description && <AppLayoutDescription description={translation.description} />}

    {credits.length > 0 && <Credits credits={credits} />}
  </div>

  {
    cover && (
      <>
        {hasOutsideCover && (
          <section>
            <h2 class="font-serif font-3xl">{t("collectibles.scans.cover")}</h2>
            <div>
              {cover.flapFront && (
                <ScanPreview
                  aspectRatio={cover.front}
                  collectibleSlug={slug}
                  scan={cover.flapFront}
                />
              )}
              {cover.front && (
                <ScanPreview aspectRatio={cover.front} collectibleSlug={slug} scan={cover.front} />
              )}
              {cover.spine && (
                <ScanPreview aspectRatio={cover.front} collectibleSlug={slug} scan={cover.spine} />
              )}
              {cover.back && (
                <ScanPreview aspectRatio={cover.front} collectibleSlug={slug} scan={cover.back} />
              )}
              {cover.flapBack && (
                <ScanPreview
                  aspectRatio={cover.front}
                  collectibleSlug={slug}
                  scan={cover.flapBack}
                />
              )}
            </div>
          </section>
        )}
        {hasInsideCover && (
          <section>
            <h2 class="font-serif font-3xl">{t("collectibles.scans.coverInside")}</h2>
            <div>
              {cover.insideFlapFront && (
                <ScanPreview
                  aspectRatio={cover.front}
                  collectibleSlug={slug}
                  scan={cover.insideFlapFront}
                />
              )}
              {cover.insideFront && (
                <ScanPreview
                  aspectRatio={cover.front}
                  collectibleSlug={slug}
                  scan={cover.insideFront}
                />
              )}
              {cover.insideBack && (
                <ScanPreview
                  aspectRatio={cover.front}
                  collectibleSlug={slug}
                  scan={cover.insideBack}
                />
              )}
              {cover.insideFlapBack && (
                <ScanPreview
                  aspectRatio={cover.front}
                  collectibleSlug={slug}
                  scan={cover.insideFlapBack}
                />
              )}
            </div>
          </section>
        )}
      </>
    )
  }

  {
    dustjacket && (
      <>
        {hasOutsideDustjacket && (
          <section>
            <h2 class="font-serif font-3xl">{t("collectibles.scans.dustjacket")}</h2>
            <p class="prose">{t("collectibles.scans.dustjacket.description")}</p>
            <div>
              {dustjacket.flapFront && (
                <ScanPreview
                  aspectRatio={dustjacket.front}
                  collectibleSlug={slug}
                  scan={dustjacket.flapFront}
                />
              )}
              {dustjacket.front && (
                <ScanPreview
                  aspectRatio={dustjacket.front}
                  collectibleSlug={slug}
                  scan={dustjacket.front}
                />
              )}
              {dustjacket.spine && (
                <ScanPreview
                  aspectRatio={dustjacket.front}
                  collectibleSlug={slug}
                  scan={dustjacket.spine}
                />
              )}
              {dustjacket.back && (
                <ScanPreview
                  aspectRatio={dustjacket.front}
                  collectibleSlug={slug}
                  scan={dustjacket.back}
                />
              )}
              {dustjacket.flapBack && (
                <ScanPreview
                  aspectRatio={dustjacket.front}
                  collectibleSlug={slug}
                  scan={dustjacket.flapBack}
                />
              )}
            </div>
          </section>
        )}
        {hasInsideDustjacket && (
          <section>
            <h2 class="font-serif font-3xl">{t("collectibles.scans.dustjacketInside")}</h2>
            <div>
              {dustjacket.insideFlapFront && (
                <ScanPreview
                  aspectRatio={dustjacket.front}
                  collectibleSlug={slug}
                  scan={dustjacket.insideFlapFront}
                />
              )}
              {dustjacket.insideFront && (
                <ScanPreview
                  aspectRatio={dustjacket.front}
                  collectibleSlug={slug}
                  scan={dustjacket.insideFront}
                />
              )}
              {dustjacket.insideSpine && (
                <ScanPreview
                  aspectRatio={dustjacket.front}
                  collectibleSlug={slug}
                  scan={dustjacket.insideSpine}
                />
              )}
              {dustjacket.insideBack && (
                <ScanPreview
                  aspectRatio={dustjacket.front}
                  collectibleSlug={slug}
                  scan={dustjacket.insideBack}
                />
              )}
              {dustjacket.insideFlapBack && (
                <ScanPreview
                  aspectRatio={dustjacket.front}
                  collectibleSlug={slug}
                  scan={dustjacket.insideFlapBack}
                />
              )}
            </div>
          </section>
        )}
      </>
    )
  }

  {
    obi && (
      <>
        {hasOutsideObi && (
          <section>
            <h2 class="font-serif font-3xl">{t("collectibles.scans.obi")}</h2>
            <p class="prose">{t("collectibles.scans.obi.description")}</p>
            <div>
              {obi.flapFront && (
                <ScanPreview aspectRatio={obi.front} collectibleSlug={slug} scan={obi.flapFront} />
              )}
              {obi.front && (
                <ScanPreview aspectRatio={obi.front} collectibleSlug={slug} scan={obi.front} />
              )}
              {obi.spine && (
                <ScanPreview aspectRatio={obi.front} collectibleSlug={slug} scan={obi.spine} />
              )}
              {obi.back && (
                <ScanPreview aspectRatio={obi.front} collectibleSlug={slug} scan={obi.back} />
              )}
              {obi.flapBack && (
                <ScanPreview aspectRatio={obi.front} collectibleSlug={slug} scan={obi.flapBack} />
              )}
            </div>
          </section>
        )}
        {hasInsideObi && (
          <section>
            <h2 class="font-serif font-3xl">{t("collectibles.scans.obiInside")}</h2>
            <div>
              {obi.insideFlapFront && (
                <ScanPreview
                  aspectRatio={obi.front}
                  collectibleSlug={slug}
                  scan={obi.insideFlapFront}
                />
              )}
              {obi.insideFront && (
                <ScanPreview
                  aspectRatio={obi.front}
                  collectibleSlug={slug}
                  scan={obi.insideFront}
                />
              )}
              {obi.insideSpine && (
                <ScanPreview
                  aspectRatio={obi.front}
                  collectibleSlug={slug}
                  scan={obi.insideSpine}
                />
              )}
              {obi.insideBack && (
                <ScanPreview aspectRatio={obi.front} collectibleSlug={slug} scan={obi.insideBack} />
              )}
              {obi.insideFlapBack && (
                <ScanPreview
                  aspectRatio={obi.front}
                  collectibleSlug={slug}
                  scan={obi.insideFlapBack}
                />
              )}
            </div>
          </section>
        )}
      </>
    )
  }

  {
    pages.length > 0 && (
      <section>
        <h2 class="font-serif font-3xl">{t("collectibles.scans.pages")}</h2>
        <div>
          {pages.map((image) => (
            <ScanPreview aspectRatio={pages[0]} collectibleSlug={slug} scan={image} />
          ))}
        </div>
      </section>
    )
  }
</AppLayout>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  #meta:not(.with-description) {
    margin-block: 3em;
  }

  section {
    margin-block: 6em;

    & > p {
      margin-top: 0.5em;
      margin-bottom: 2em;
    }

    & > div {
      margin-top: 2em;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 32px 16px;
      align-items: end;

      @media (max-width: 600px) {
        grid-template-columns: 1fr 1fr;
      }

      @media (max-width: 320px) {
        grid-template-columns: 1fr;
      }
    }
  }
</style>
