---
import { getI18n } from "src/i18n/i18n";
import type { EndpointScanImage } from "src/shared/payload/payload-sdk";
import { sizesForGridLayout, sizesToSrcset } from "src/utils/img";

interface Props {
  scan: EndpointScanImage;
  collectibleSlug: string;
  aspectRatio?: { width: number; height: number } | undefined;
}

const {
  scan: { url, index, width, height, sizes },
  aspectRatio,
  collectibleSlug,
} = Astro.props;

const { getLocalizedUrl, formatScanIndexShort } = await getI18n(Astro.locals.currentLocale);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<div style={aspectRatio ? `aspect-ratio:${aspectRatio.width}/${aspectRatio.height};` : undefined}>
  <a
    href={getLocalizedUrl(`/collectibles/${collectibleSlug}/scans/${index}`)}
    style=`aspect-ratio:${width}/${height};`>
    <img
      src={url}
      srcset={sizesToSrcset(sizes)}
      sizes={sizesForGridLayout(200, 1.15)}
      width={width}
      height={height}
      loading="lazy"
    />
  </a>
  <p>{formatScanIndexShort(index)}</p>
</div>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    place-items: center;
  }

  a {
    max-height: 100%;
    box-shadow: 0 5px 20px -10px var(--color-shadow-0);
    transition: 100ms scale;

    &:hover,
    &:focus-visible {
      scale: 104%;
    }
  }
</style>
