---
interface Props {
  img?: { light: string; dark: string } | undefined;
  name: string;
  href: string;
}

const { img, name, href } = Astro.props;
---

<a href={href} aria-label={name} class="pressable">
  {
    img ? (
      <>
        <img src={img.light} class="when-light-theme" alt={name} title={name} />
        <img src={img.dark} class="when-dark-theme" alt={name} title={name} />
      </>
    ) : (
      <div><p>{name}</p></div>
    )
  }
</a>

<style>
  a {
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    display: grid;
    place-items: center;

    border-radius: 12px;

    user-select: none;

    & > img {
      object-fit: contain;
      height: 100%;
      width: 100%;
      aspect-ratio: 2;
    }

    & > div {
      aspect-ratio: 2;
      width: 100%;
      display: grid;
      place-content: center;
    }

  }
</style>
