---
import { Icon } from "astro-icon/components";
import { getI18n } from "src/i18n/i18n";
import type { EndpointRelation } from "src/shared/payload/endpoint-types";

interface Props {
  relation: EndpointRelation;
}

const { relation } = Astro.props;
const { formatEndpointRelation } = await getI18n(Astro.locals.currentLocale);

const {
  href,
  typeLabel,
  label,
  target = undefined,
  rel = undefined,
  lang,
} = formatEndpointRelation(relation);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<a class="pressable-label" href={href} target={target} rel={rel}>
  <Icon name="material-symbols:keyboard-return" />
  <div class="font-xs">{typeLabel}</div>
  <p lang={lang}>{label}</p>
</a>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  a {
    height: 16px;

    & > div {
      border: 1px solid var(--color-base-1000);
      border-radius: 9999px;
      padding: 0.3em 0.5em;
    }

    & > p {
      display: flex;
      place-items: center;
      gap: 0.5em;
    }
  }
</style>
