---
import { Icon } from "astro-icon/components";
import { getI18n } from "src/i18n/i18n";
import { Collections, type ParentPage } from "src/shared/payload/payload-sdk";

interface Props {
  parentPage: ParentPage;
}

const { parentPage } = Astro.props;
const { getLocalizedMatch, getLocalizedUrl, t } = await getI18n(Astro.locals.currentLocale);

const translation = getLocalizedMatch(parentPage.translations);

let href = "";
let collectionLabel = "";
switch (parentPage.collection) {
  case Collections.Folders:
    href = getLocalizedUrl(`/folders/${parentPage.slug}`);
    collectionLabel = t("header.nav.parentPages.collections.folder");
    break;

  case Collections.Collectibles:
    href = getLocalizedUrl(`/collectibles/${parentPage.slug}`);
    collectionLabel = t("header.nav.parentPages.collections.collectible");
    break;

  default:
    href = "/404";
    break;
}
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<a href={href}>
  <div class="pressable-label">
    <Icon name="material-symbols:keyboard-return" />
    <p>
      <span>{collectionLabel}</span>
      {translation.name}
    </p>
  </div>
</a>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  div {
    height: 16px;

    & > p {
      display: flex;
      place-items: center;
      gap: 0.5em;

      span {
        border: 1px solid var(--color-base-1000);
        border-radius: 9999px;
        padding: 0.3em 0.5em;
        font-size: 80%;
      }
    }
  }
</style>
