---
import Html from "./components/Html.astro";
import Topbar from "./components/Topbar.astro";
import Footer from "./components/Footer.astro";

interface Props {
  breadcrumb?: { name: string; slug: string }[];
  title?: string;
  description?: string;
  illustration?: string;
  illustrationSize?: string;
  illustrationPosition?: string;
}

const {
  title = "Accord’s Library",
  description,
  illustration,
  breadcrumb = [],
  illustrationSize = "contain",
  illustrationPosition = "center",
} = Astro.props;
---

{
  /* ------------------------------------------- HTML ------------------------------------------- */
}

<Html title={title}>
  <header>
    <Topbar breadcrumb={breadcrumb} />
    <div id="header-content">
      <div id="header-left">
        <slot name="header-title">
          <h1>{title}</h1>
        </slot>
        <slot name="header-description">
          <p>{description}</p>
        </slot>
      </div>
      <div id="image-container"></div>
    </div>
  </header>
  <main><slot name="main" /></main>
  <Footer withLinks={breadcrumb.length > 0} />
</Html>

{
  /* ------------------------------------------- CSS -------------------------------------------- */
}

<style
  define:vars={{
    illustration: `url(${illustration})`,
    illustrationSize,
    illustrationPosition,
  }}
>
  header {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    & > #header-content {
      display: grid;
      grid-template-columns: auto 1fr;

      & > #header-left {
        display: flex;
        flex-direction: column;
        gap: 2em;
        place-items: flex-start;

        & > h1 {
          font-family: var(--font-serif);
          font-size: 3em;
          overflow-wrap: anywhere;
        }

        & > p {
          max-width: 35em;
        }
      }

      & > #image-container {
        background-image: var(--illustration);
        background-size: var(--illustrationSize);
        background-repeat: no-repeat;
        background-position: right var(--illustrationPosition);
        mask-image: linear-gradient(
          to left,
          rgba(0, 0, 0, 1) 50%,
          transparent 80%
        );

        @media (max-width: 60rem) {
          display: none;
        }
      }
    }
  }

  main {
    padding-top: 6em;
    padding-bottom: 8em;
    flex-grow: 1;
  }
</style>
