---
import AppLayout from "components/AppLayout/AppLayout.astro";
import AppLayoutDescription from "components/AppLayout/components/AppLayoutDescription.astro";
import AppLayoutTitle from "components/AppLayout/components/AppLayoutTitle.astro";
import { getI18n } from "src/i18n/i18n";
import { payload } from "src/utils/payload";
import { formatInlineTitle, formatRichTextToString } from "src/utils/format";
import { fetchOr404 } from "src/utils/responses";
import { sizesToSrcset } from "src/utils/img";

const slug = Astro.params.slug!;
const { getLocalizedMatch, getLocalizedUrl, t } = await getI18n(Astro.locals.currentLocale);

const gallery = await fetchOr404(() => payload.getCollectibleGallery(slug));
if (gallery instanceof Response) {
  return gallery;
}

const { translations, parentPages, images, thumbnail } = gallery;
const translation = getLocalizedMatch(translations);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<AppLayout
  openGraph={{
    title: `${formatInlineTitle(translation)} (${t("collectibles.gallery.title")})`,
    description: translation.description && formatRichTextToString(translation.description),
    thumbnail,
  }}
  parentPages={parentPages}>
  <AppLayoutTitle
    title={translation.title}
    pretitle={translation.pretitle}
    subtitle={translation.subtitle}
  />

  {translation.description && <AppLayoutDescription description={translation.description} />}

  <div>
    {
      images.map(({ url, width, height, sizes }, index) => (
        <a
          href={getLocalizedUrl(`/collectibles/${slug}/gallery/${index}`)}
          style={`aspect-ratio: ${width}/${height};`}>
          <img
            src={url}
            srcset={sizesToSrcset(sizes)}
            sizes={`
              (max-width: ${(width / height) * 320}px) 90vw,
              ${(width / height) * 320}px`}
            width={width}
            height={height}
            loading="lazy"
          />
        </a>
      ))
    }
  </div>
</AppLayout>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  div {
    margin-top: 3em;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;

    a {
      display: flex;
      flex-direction: column;
      gap: 1em;
      text-align: center;
      place-items: center;
      border-radius: 16px;

      transition: 100ms scale;

      &:hover,
      &:focus-visible {
        scale: 104%;
      }

      &:focus-visible {
        outline: 3px solid var(--color-base-1000);
        outline-offset: unset;
      }

      max-height: 320px;

      & > img {
        max-width: 100%;
        height: auto;
        box-shadow: 0 5px 20px -10px var(--color-shadow);
        border-radius: 16px;
      }
    }
  }
</style>
