---
import AppEmptyLayout from "components/AppLayout/AppEmptyLayout.astro";
import AppLayoutDescription from "components/AppLayout/components/AppLayoutDescription.astro";
import AppLayoutTitle from "components/AppLayout/components/AppLayoutTitle.astro";
import { getI18n } from "src/i18n/i18n";
import { payload } from "src/shared/payload/payload-sdk";
import { formatInlineTitle, formatRichTextToString } from "src/utils/format";
import { fetchOr404 } from "src/utils/responses";

const slug = Astro.params.slug!;
const { getLocalizedMatch, getLocalizedUrl, t } = await getI18n(Astro.locals.currentLocale);

const gallery = await fetchOr404(() => payload.getCollectibleGallery(slug));
if (gallery instanceof Response) {
  return gallery;
}

const { translations, parentPages, images, thumbnail } = gallery;
const translation = getLocalizedMatch(translations);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<AppEmptyLayout
  openGraph={{
    title: `${formatInlineTitle(translation)} (${t("collectibles.gallery")})`,
    description: translation.description && formatRichTextToString(translation.description),
    thumbnail,
  }}
  parentPages={parentPages}>
  <AppLayoutTitle
    title={translation.title}
    pretitle={translation.pretitle}
    subtitle={translation.subtitle}
  />

  {translation.description && <AppLayoutDescription description={translation.description} />}

  <div>
    {
      images.map((image, index) => (
        <a href={getLocalizedUrl(`/collectibles/${slug}/gallery/${index}`)}>
          <img src={image.url} />
        </a>
      ))
    }
  </div>
</AppEmptyLayout>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  div {
    margin-top: 3em;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;

    a {
      display: flex;
      flex-direction: column;
      gap: 1em;
      text-align: center;
      place-items: center;

      transition: 100ms scale;

      &:hover {
        scale: 104%;
      }

      & > img {
        max-height: 20em;
        max-width: 100%;
        height: auto;
        width: auto;
        box-shadow: 0 5px 20px -10px var(--color-shadow);
      }
    }
  }
</style>
