---
import RichText from "components/RichText/RichText.astro";
import type { RichTextSectionBlock } from "src/shared/payload/payload-sdk";
import type { RichTextContext } from "src/utils/richText";

interface Props {
  node: RichTextSectionBlock;
  context: RichTextContext;
}

const { node, context } = Astro.props;
---

{
  context.depth < 2 ? (
    <h2 id={node.fields.anchorHash}>
      <span>{`${node.fields.anchorHash} `}</span>
      {node.fields.blockName}
    </h2>
  ) : context.depth === 2 ? (
    <h3 id={node.fields.anchorHash}>
      <span>{`${node.fields.anchorHash} `}</span>
      {node.fields.blockName}
    </h3>
  ) : context.depth === 3 ? (
    <h4 id={node.fields.anchorHash}>
      <span>{`${node.fields.anchorHash} `}</span>
      {node.fields.blockName}
    </h4>
  ) : context.depth === 4 ? (
    <h5 id={node.fields.anchorHash}>
      <span>{`${node.fields.anchorHash} `}</span>
      {node.fields.blockName}
    </h5>
  ) : (
    <h6 id={node.fields.anchorHash}>
      <span>{`${node.fields.anchorHash} `}</span>
      {node.fields.blockName}
    </h6>
  )
}

<RichText content={node.fields.content} context={{ ...context, depth: context.depth + 1 }} />

<style>
  span {
    color: var(--color-base-650);
    font-weight: 500;
    font-size: 70%;
    margin-right: 0.3em;
  }
</style>
