---
import AppLayout from "components/AppLayout/AppLayout.astro";
import { payload } from "src/shared/payload/payload-sdk";
import { getI18n } from "translations/translations";
import RichText from "components/RichText/RichText.astro";
import FoldersSection from "./_components/FoldersSection.astro";

const { slug } = Astro.params;
const { getLocalizedMatch, getLocalizedUrl } = await getI18n(
  Astro.locals.currentLocale
);

if (!slug) {
  return Astro.redirect("/en/404");
}

const folder = await payload.getFolder(slug);
const meta = getLocalizedMatch(folder.translations, { name: slug });

// TODO: handle folder not found
// TODO: send description as RichTextContent instead of string
// TODO: handle light and dark illustration for applayout
---

{
  /* ------------------------------------------- HTML ------------------------------------------- */
}

<AppLayout title={meta.name}>
  {
    meta.description && (
      <div slot="header-description">
        <RichText content={JSON.parse(meta.description)} />
      </div>
    )
  }
  <div id="main">
    {
      folder.sections.type === "single" ? (
        <FoldersSection folders={folder.sections.subfolders} />
      ) : (
        <div id="sections">
          {folder.sections.sections.map(({ subfolders, translations }) => (
            <FoldersSection
              folders={subfolders}
              title={
                getLocalizedMatch<{
                  language: string;
                  name: string | undefined;
                }>(translations, { name: undefined }).name
              }
            />
          ))}
        </div>
      )
    }

    <div>
      {
        folder.files.map(({ relationTo, value }) => {
          if (relationTo === "contents") {
            return (
              <a
                class="pressable"
                href={getLocalizedUrl(`/contents/${value.slug}`)}
              >
                {value.slug}
              </a>
            );
          }
          return (
            <a href={getLocalizedUrl(`/library-item/${value.slug}`)}>
              {value.slug}
            </a>
          );
        })
      }
    </div>
  </div>
</AppLayout>

{
  /* ------------------------------------------- CSS -------------------------------------------- */
}

<style>
  #main {
    display: grid;
    gap: 4em;

    #sections {
      display: grid;
      gap: 2.5em;
    }
  }
</style>
