---
import { Collections } from "src/shared/payload/payload-sdk";
import FoldersSection from "./_components/FoldersSection.astro";
import { fetchOr404 } from "src/utils/responses";
import ErrorMessage from "components/ErrorMessage.astro";
import { getI18n } from "src/i18n/i18n";
import CollectiblePreview from "components/Previews/CollectiblePreview.astro";
import PagePreview from "components/Previews/PagePreview.astro";
import { formatRichTextToString } from "src/utils/format";
import ImagePreview from "components/Previews/ImagePreview.astro";
import AudioPreview from "components/Previews/AudioPreview.astro";
import VideoPreview from "components/Previews/VideoPreview.astro";
import AppLayout from "components/AppLayout/AppLayout.astro";
import AppLayoutTitle from "components/AppLayout/components/AppLayoutTitle.astro";
import AppLayoutDescription from "components/AppLayout/components/AppLayoutDescription.astro";
import { payload } from "src/utils/payload";

const { slug } = Astro.params;

const folder = await fetchOr404(() => payload.getFolder(slug!));
if (folder instanceof Response) {
  return folder;
}

const { getLocalizedMatch } = await getI18n(Astro.locals.currentLocale);
const meta = getLocalizedMatch(folder.translations);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<AppLayout
  openGraph={{
    title: meta.name,
    description: meta.description && formatRichTextToString(meta.description),
  }}
  parentPages={folder.parentPages}>
  <AppLayoutTitle title={meta.name} />
  {meta.description && <AppLayoutDescription description={meta.description} />}

  <div id="main">
    {
      folder.sections.type === "single" && folder.sections.subfolders.length > 0 ? (
        <FoldersSection folders={folder.sections.subfolders} />
      ) : (
        folder.sections.type === "multiple" &&
        folder.sections.sections.length > 0 && (
          <div id="sections">
            {folder.sections.sections.map(({ subfolders, translations }) => (
              <FoldersSection
                folders={subfolders}
                title={
                  getLocalizedMatch<{
                    language: string;
                    name: string | undefined;
                  }>(translations).name
                }
              />
            ))}
          </div>
        )
      )
    }

    <div id="files">
      {
        folder.files.map(({ relationTo, value }) => {
          switch (relationTo) {
            case Collections.Collectibles:
              return <CollectiblePreview collectible={value} />;

            case Collections.Pages:
              return <PagePreview page={value} />;

            case Collections.Images:
              return <ImagePreview image={value} />;

            case Collections.Audios:
              return <AudioPreview audio={value} />;

            case Collections.Videos:
              return <VideoPreview video={value} />;

            default:
              return (
                <ErrorMessage
                  title={`Unknown file type: ${relationTo}`}
                  description="Please contact website technical administrator."
                />
              );
          }
        })
      }
    </div>
  </div>
</AppLayout>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  #main {
    margin-top: 4.5em;
    display: grid;
    gap: 4em;

    & > #sections {
      display: grid;
      gap: 2.5em;
    }

    & > #files {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: clamp(6px, 2vmin, 16px);
    }
  }
</style>
