---
import type {
  EndpointImage,
  EndpointPayloadImage,
  EndpointScanImage,
} from "src/shared/payload/payload-sdk";
import { sizesToSrcset } from "src/utils/img";

interface Props {
  image: EndpointImage | EndpointScanImage | EndpointPayloadImage;
  title: string;
  subtitle: string;
  href: string;
}

const {
  image: { url, width, height, sizes },
  title,
  subtitle,
  href,
} = Astro.props;
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<a href={href}>
  <img
    src={url}
    srcset={sizesToSrcset(sizes)}
    sizes=`
      (max-width: 400px) 90vw,
      (max-width: 850px) 50vw,
      380px`
    width={width}
    height={height}
  />

  <div>
    <div>
      <p id="title" class="font-2xl">{title}</p>
      <p>{subtitle}</p>
    </div>
  </div>
</a>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  a {
    position: relative;
    width: 100%;
    height: 8em;
    border-radius: 12px;
    box-shadow: 0 5px 20px -10px var(--color-shadow-0);

    transition: 100ms scale;

    &:hover,
    &:focus-visible {
      scale: 104%;
    }

    & > img {
      position: absolute;
      inset: 0;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }

    & > div {
      position: absolute;
      inset: 0;
      display: grid;
      place-content: center;
      text-align: center;

      & > div {
        padding: 1em;
        border-radius: 1em;
        background-color: color-mix(in srgb, var(--color-elevation-0) 70%, transparent);
        backdrop-filter: blur(8px);
      }
    }
  }
</style>
