---
import type {
  EndpointImage,
  EndpointMediaThumbnail,
  EndpointScanImage,
} from "src/shared/payload/payload-sdk";
import { sizesToSrcset } from "src/utils/img";

interface Props {
  image: EndpointImage | EndpointScanImage | EndpointMediaThumbnail;
  title: string;
  subtitle: string;
  href: string;
}

const {
  image: { url, width, height, sizes },
  title,
  subtitle,
  href,
} = Astro.props;
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<a href={href}>
  <img
    src={url}
    srcset={sizesToSrcset(sizes)}
    sizes=`
      (max-width: 400px) 90vw,
      (max-width: 850px) 50vw,
      200px`
    width={width}
    height={height}
  />

  <div class="high-contrast-text">
    <p class="title">{title}</p>
    <p>{subtitle}</p>
  </div>
</a>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  a {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: grid;
    background-color: var(--color-elevation-0);
    place-items: center;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 5px 20px -10px var(--color-shadow);

    transition: 100ms scale;

    &:hover,
    &:focus-visible {
      scale: 105%;
    }

    &:focus-visible {
      outline: 3px solid var(--color-base-1000);
      outline-offset: unset;
    }

    & > div {
      text-align: center;
      backdrop-filter: blur(5px);
      padding: 1em;
      border-radius: 1em;

      & > .title {
        font-size: 130%;
        font-weight: 500;
        margin-bottom: 0.2em;
      }
    }

    & > img {
      position: absolute;
      inset: 0;
      opacity: 0.5;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
</style>
