---
import TitleIcon from "components/TitleIcon.astro";
import { getI18n } from "src/i18n/i18n";

interface Props {
  size: {
    width: number;
    height: number;
    thickness?: number;
  };
}

const { size } = Astro.props;

const { formatInches, formatMillimeters, t } = await getI18n(Astro.locals.currentLocale);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<div id="size">
  <TitleIcon title={t("collectibles.size")} icon="material-symbols:measuring-tape" />

  <div id="values">
    <div>
      <p class="font-xl">{t("collectibles.size.width")}</p>
      <p>{formatMillimeters(size.width)}</p>
      <p>{formatInches(size.width)}</p>
    </div>
    <div>
      <p class="font-xl">{t("collectibles.size.height")}</p>
      <p>{formatMillimeters(size.height)}</p>
      <p>{formatInches(size.height)}</p>
    </div>
    {
      size.thickness && (
        <div>
          <p class="font-xl">{t("collectibles.size.thickness")}</p>
          <p>{formatMillimeters(size.thickness)}</p>
          <p>{formatInches(size.thickness)}</p>
        </div>
      )
    }
  </div>
</div>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  #size {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em 2em;
    align-items: start;

    @media (max-width: 35em) {
      grid-template-columns: 1fr;
    }

    & > #values {
      display: flex;
      gap: 1em 1.5em;

      & > div {
        display: flex;
        flex-direction: column;
        gap: 0.6em;

        & > p:first-child {
          margin-top: 3px;
        }
      }
    }
  }
</style>
