---
import Card from "components/Card.astro";
import MasoTarget from "components/Maso/MasoTarget.astro";
import RichText from "components/RichText/RichText.astro";
import TimelineLanguageOverride from "pages/[locale]/timeline/_components/TimelineLanguageOverride.astro";
import TimelineNote from "pages/[locale]/timeline/_components/TimelineNote.astro";
import TimelineSourcesButton from "pages/[locale]/timeline/_components/TimelineSourcesButton.astro";
import { getI18n } from "src/i18n/i18n";
import type { EndpointChronologyEvent } from "src/shared/payload/payload-sdk";
import { payload } from "src/utils/payload";

export const partial = true;

interface Props {
  lang: string;
  event: EndpointChronologyEvent;
  id: string;
  index: number;
}

const reqUrl = new URL(Astro.request.url);
const lang = Astro.props.lang ?? reqUrl.searchParams.get("lang")!;
const id = Astro.props.id ?? reqUrl.searchParams.get("id")!;
const index = Astro.props.index ?? parseInt(reqUrl.searchParams.get("index")!);
const event = Astro.props.event ?? (await payload.getChronologyEventByID(id));
const { sources, translations } = event.events[index]!;

const { getLocalizedUrl } = await getI18n(Astro.locals.currentLocale);
const { getLocalizedMatch } = await getI18n(lang);
const { title, description, notes, credits } = getLocalizedMatch(translations);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

{" " /* TODO: To be removed when https://github.com/withastro/astro/issues/11103 is fixed */}
<MasoTarget>
  <Card>
    <div class="event">
      <div id="content">
        {title && <h4 class="font-xl">{title}</h4>}
        {description && <RichText content={description} />}
      </div>
      <div id="bottom" class="when-js when-no-print">
        <TimelineSourcesButton sources={sources} />
        {notes && <TimelineNote notes={notes} />}
        <TimelineLanguageOverride
          availableLanguages={translations.map(({ language }) => language)}
          currentLang={lang}
          credits={credits}
          getPartialUrl={(locale) =>
            getLocalizedUrl(`/api/timeline/partial?id=${id}&index=${index}&lang=${locale}`)}
        />
      </div>
    </div>
  </Card>
</MasoTarget>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  .event {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;

    & > #content {
      padding-left: 0.9em;
      padding-right: 1.2em;
      padding-top: 0.5em;

      display: flex;
      flex-direction: column;
      gap: 0.5em;

      & > h4 {
        line-height: 1.2;
        max-width: 35rem;
      }
    }

    & > #bottom {
      display: flex;
      place-items: start;
      gap: 0.4em;
    }
  }
</style>
