---
import Card from "components/Card.astro";
import MasoTarget from "components/Maso/MasoTarget.astro";
import RichText from "components/RichText/RichText.astro";
import TimelineLanguageOverride from "pages/[locale]/timeline/_components/TimelineLanguageOverride.astro";
import TimelineNote from "pages/[locale]/timeline/_components/TimelineNote.astro";
import TimelineSourcesButton from "pages/[locale]/timeline/_components/TimelineSourcesButton.astro";
import { getI18n } from "src/i18n/i18n";
import type { EndpointChronologyEvent } from "src/shared/payload/endpoint-types";
import { payload } from "src/services";

export const partial = true;

interface Props {
  lang?: string;
  event?: EndpointChronologyEvent;
  id?: string;
  index?: number;
}

if (!Astro.props.event) {
  Astro.locals.pageCaching = false;
}

const reqUrl = new URL(Astro.request.url);
const lang = Astro.props.lang ?? reqUrl.searchParams.get("lang")!;
const id = Astro.props.id ?? reqUrl.searchParams.get("id")!;
const index = Astro.props.index ?? parseInt(reqUrl.searchParams.get("index")!);
const event = await (async () => {
  if (Astro.props.event) return Astro.props.event;
  const response = await payload.getChronologyEventByID(id);
  return response.data;
})();
const { sources, translations } = event.events[index]!;

const { getLocalizedUrl } = await getI18n(Astro.locals.currentLocale);
const { getLocalizedMatch } = await getI18n(lang);
const { title, description, notes, credits, language } = getLocalizedMatch(translations);
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<MasoTarget>
  <Card class="timeline_partial-card">
    <div id="content">
      {
        title && (
          <h4 lang={language} class="font-xl">
            {title}
          </h4>
        )
      }
      {description && <RichText content={description} context={{ lang: language }} />}
    </div>
    <div id="bottom" class="when-js when-no-print">
      <TimelineSourcesButton sources={sources} />
      {notes && <TimelineNote notes={notes} />}
      <TimelineLanguageOverride
        availableLanguages={translations.map(({ language }) => language)}
        currentLang={lang}
        credits={credits}
        getPartialUrl={(locale) =>
          getLocalizedUrl(`/api/timeline/partial?id=${id}&index=${index}&lang=${locale}`)}
      />
    </div>
  </Card>
</MasoTarget>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  .timeline_partial-card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;

    & > #content {
      padding-left: 0.9em;
      padding-right: 1.2em;
      padding-top: 0.5em;

      display: flex;
      flex-direction: column;
      gap: 0.5em;

      & > h4 {
        line-height: 1.2;
        max-width: 35rem;
      }
    }

    & > #bottom {
      display: flex;
      place-items: start;
      gap: 0.4em;
    }
  }
</style>
