---
import { Icon } from "astro-icon/components";
import { getI18n } from "translations/translations";

interface Props {
  withLinks: boolean;
}

const { withLinks } = Astro.props;
const { t } = await getI18n(Astro.locals.currentLocale);

const discordLabel = `${t("footer.socials.discord.title")} - ${t(
  "footer.socials.discord.subtitle"
)}`;

const twitterLabel = `${t("footer.socials.twitter.title")} - ${t(
  "footer.socials.twitter.subtitle"
)}`;

const githubLabel = `${t("footer.socials.github.title")} - ${t(
  "footer.socials.github.subtitle"
)}`;

const contactLabel = `${t("footer.socials.contact.title")} - ${t(
  "footer.socials.contact.subtitle"
)}`;
---

{
  /* ------------------------------------------- HTML ------------------------------------------- */
}

<footer>
  {
    withLinks && (
      <div id="nav" class="when-no-print">
        <p class="font-serif">{t("global.siteName")}</p>
        <div>
          <a href="/">
            <Icon name="accords" />
            <p>{t("footer.links.home.title")}</p>
          </a>
          <a href="/archives">
            <Icon name="material-symbols:browse" />
            <p>{"Contents"}</p>
          </a>
          <a href="/chronicles">
            <Icon name="material-symbols:book-2" />
            <p>{"Chronicles"}</p>
          </a>
          <a href="/changelog">
            <Icon name="material-symbols:history" />
            <p>{"Changelog"}</p>
          </a>
          <a href="/timeline">
            <Icon name="material-symbols:calendar-month" />
            <p>{t("footer.links.timeline.title")}</p>
          </a>
          <a href="https://gallery.accords-library.com/posts">
            <Icon name="material-symbols:perm-media" />
            <p>{t("footer.links.gallery.title")}</p>
          </a>
          <a href="/videos">
            <Icon name="material-symbols:movie" />
            <p>{t("footer.links.videos.title")}</p>
          </a>
          <a href="/archives">
            <Icon name="material-symbols:folder-zip" />
            <p>{t("footer.links.webArchives.title")}</p>
          </a>
        </div>
      </div>
    )
  }
  <div id="license" class:list={{ "with-links": withLinks }}>
    <div id="license-section">
      <p set:html={t("footer.license.description")} />
      <a
        href="https://creativecommons.org/licenses/by-sa/4.0/"
        id="common-creative"
        aria-label={t("footer.license.icons.tooltip")}
        title={t("footer.license.icons.tooltip")}
        class="pressable-icon"
      >
        <Icon name="creative-commons-brands" />
        <Icon name="creative-commons-by-brands" />
        <Icon name="creative-commons-sa-brands" />
      </a>
    </div>

    {
      withLinks && (
        <div id="socials" class="when-no-print">
          <a
            href="/discord"
            class="pressable-icon"
            aria-label={discordLabel}
            title={discordLabel}
          >
            <Icon name="discord-brands" />
          </a>
          <a
            href="https://twitter.com/AccordsLibrary"
            class="pressable-icon"
            aria-label={twitterLabel}
            title={twitterLabel}
          >
            <Icon name="x-brands" />
          </a>
          <a
            href="https://github.com/Accords-Library"
            class="pressable-icon"
            aria-label={githubLabel}
            title={githubLabel}
          >
            <Icon name="github-brands" />
          </a>

          <a
            href="/contact"
            class="pressable-icon"
            aria-label={contactLabel}
            title={contactLabel}
          >
            <Icon name="material-symbols:mail-outline" />
          </a>
        </div>
      )
    }
  </div>
  <div id="copyright" set:html={t("footer.disclaimer")} />
</footer>

{
  /* ------------------------------------------- CSS -------------------------------------------- */
}

<style>
  footer {
    border-top: 0.1em solid var(--color-base-1000);
    padding-top: 2em;
    display: flex;
    place-content: center;
    gap: clamp(1.5em, 1.25em + 2vw, 4em);
    font-size: 0.85em;

    & > div {
      max-width: 20em;
      flex: 1;

      @media (max-width: 35rem) {
        max-width: unset;
      }
    }

    & > #nav {
      display: grid;
      place-content: start;
      flex: 1.5;

      @media (max-width: 35rem) {
        place-items: center;
      }

      & > p {
        font-weight: 700;
        font-size: 1.2em;
        white-space: pre;

        @media (max-width: 35rem) {
          font-size: clamp(1em, 8vw, 2.5em);
        }
      }

      & > div {
        display: grid;
        flex-direction: column;
        place-items: start;
        margin-top: 0.8em;
        gap: 0.3em;
        grid-template-columns: 1fr 1fr;
        margin-left: -0.6em;

        @media (max-width: 65rem) {
          gap: unset;
        }

        @media (max-width: 35rem) {
          gap: 0.25em 0.5em;
          grid-template-columns: 1fr 1fr;
          margin-top: 0.8em;
          margin-left: unset;
          font-size: 1.2em;
        }

        @media (max-width: 22rem) {
          grid-template-columns: 1fr;
          margin-top: 0.8em;
          margin-left: unset;
          font-size: 1.2em;
        }

        & > a {
          display: flex;
          place-items: center;
          text-decoration: none;
          gap: 0.4em;
          padding: 0.4em 0.6em;
          border-radius: 9999px;

          @media (max-width: 35rem) {
            padding: 0.6em 0.8em;
          }

          transition: 150ms background-color;

          &:hover {
            background-color: var(--color-base-250);
          }

          &:active {
            background-color: var(--color-base-300);
          }

          & > svg {
            flex-shrink: 0;
            height: 0.75em;
            width: 0.75em;
          }
        }
      }
    }

    & > #license {
      display: grid;
      grid-template-areas: "license";
      padding-left: 1em;

      @media (max-width: 35rem) {
        gap: 3em;
      }

      @media screen {
        &.with-links {
          border-left: 0.1em solid var(--color-base-1000);
          grid-template-areas: "license" "socials";

          @media (max-width: 35rem) {
            grid-template-areas: "socials" "license";
            border-left: unset;
            padding-left: unset;
          }
        }
      }

      & > #license-section {
        grid-area: license;
        line-height: 1.2;

        & > #common-creative {
          display: flex;
          justify-content: flex-start;
          gap: 0.2em;
          margin-top: 0.5em;

          & > svg {
            width: 1em;
            height: 1em;
          }

          @media (max-width: 35rem) {
            place-content: center;
            gap: clamp(4px, 2vw, 8px);

            & > svg {
              width: clamp(1em, 6vw, 24px);
              height: clamp(1em, 6vw, 24px);
            }
          }
        }
      }

      & > #socials {
        grid-area: socials;
        display: flex;
        gap: 1.5em;
        margin-top: 24px;

        & > a > svg {
          width: 1.5em;
          height: 1.5em;
        }

        @media (max-width: 35rem) {
          place-content: center;
          flex-wrap: wrap;
          gap: clamp(24px, 8vw, 48px);

          & > a > svg {
            width: clamp(24px, 8vw, 48px);
            height: clamp(24px, 8vw, 48px);
          }
        }
      }
    }

    & > #copyright {
      border-left: 0.1em solid var(--color-base-1000);
      padding-left: 1em;
      line-height: 1.2;

      @media (max-width: 35rem) {
        border: none;
        padding-left: unset;
      }
    }

    @media (max-width: 35rem) {
      flex-direction: column;
      text-align: center;
      align-items: center;

      & > div {
        max-width: unset;
      }
    }
  }
</style>
