---
import { Icon } from "astro-icon/components";
import { getI18n } from "src/i18n/i18n";

interface Props {
  withLinks: boolean;
}

const { withLinks } = Astro.props;
const { t, getLocalizedUrl } = await getI18n(Astro.locals.currentLocale);

const discordLabel = `${t("footer.socials.discord.title")} - ${t(
  "footer.socials.discord.subtitle"
)}`;

const twitterLabel = `${t("footer.socials.twitter.title")} - ${t(
  "footer.socials.twitter.subtitle"
)}`;

const githubLabel = `${t("footer.socials.github.title")} - ${t("footer.socials.github.subtitle")}`;

const contactLabel = `${t("footer.socials.contact.title")} - ${t(
  "footer.socials.contact.subtitle"
)}`;
---

{/* ------------------------------------------- HTML ------------------------------------------- */}

<footer>
  {
    withLinks && (
      <div id="socials" class="when-no-print">
        <a href={getLocalizedUrl("/discord")} class="pressable-label" aria-label={discordLabel} title={discordLabel}>
          <Icon name="discord-brands" />
          <p class="font-s">{t("footer.socials.discord.title")}</p>
        </a>
        <a
          href="https://twitter.com/AccordsLibrary"
          class="pressable-label"
          aria-label={twitterLabel}
          title={twitterLabel}>
          <Icon name="x-brands" />
          <p class="font-s">{t("footer.socials.twitter.title")}</p>
        </a>
        <a
          href="https://github.com/Accords-Library"
          class="pressable-label"
          aria-label={githubLabel}
          title={githubLabel}>
          <Icon name="github-brands" />
          <p class="font-s">{t("footer.socials.github.title")}</p>
        </a>

        <a href="/contact" class="pressable-label" aria-label={contactLabel} title={contactLabel}>
          <Icon name="material-symbols:mail" />
          <p class="font-s">{t("footer.socials.contact.title")}</p>
        </a>
      </div>
    )
  }

  <div id="copylicense" class:list={{ "with-border": withLinks }}>
    <div id="license">
      <p class="font-s" set:html={t("footer.license.description")} />
      <a
        href="https://creativecommons.org/licenses/by-sa/4.0/"
        id="common-creative"
        aria-label={t("footer.license.icons.tooltip")}
        title={t("footer.license.icons.tooltip")}
        class="pressable-icon">
        <Icon name="creative-commons-brands" />
        <Icon name="creative-commons-by-brands" />
        <Icon name="creative-commons-sa-brands" />
      </a>
    </div>

    <div id="copyright" class="font-s" set:html={t("footer.disclaimer")} />
  </div>
</footer>

{/* ------------------------------------------- CSS -------------------------------------------- */}

<style>
  footer {
    border-top: 0.1em solid var(--color-base-1000);
    padding-block: 2em;

    display: flex;
    place-content: center;
    place-items: center;
    gap: clamp(1.5em, 1.25em + 2vw, 4em);

    @media (max-width: 720.5px) {
      flex-direction: column;
      place-items: center;
    }

    & > #socials {
      flex-shrink: 0;
      display: grid;
      grid-template-columns: auto auto;
      gap: 0.2em 1em;
      place-content: start;
      flex-grow: 1;

      @media (min-width: 720.5px) {
        max-width: 16rem;
      }

      @media (max-width: 720.5px) {
        grid-template-columns: auto auto auto auto;
      }

      @media (max-width: 35rem) {
        grid-template-columns: auto auto;
      }

      & > a {
        display: flex;

        & > p {
          font-weight: 500;
        }
      }
    }

    & > #copylicense {
      display: flex;
      place-content: center;
      gap: clamp(1.5em, 1.25em + 2vw, 4em);
      line-height: 1.2;

      &.with-border {
        @media (min-width: 720.5px) {
          border-left: 0.1em solid var(--color-base-1000);
          padding-left: 1em;
        }
      }

      @media (max-width: 35rem) {
        flex-direction: column;
        place-items: center;
        text-align: center;
      }

      & > #license {
        justify-self: end;
        max-width: 18rem;

        display: flex;
        flex-direction: column;

        @media (max-width: 35rem) {
          align-items: center;
        }

        & > #common-creative {
          display: flex;
          justify-content: flex-start;
          gap: 0.25em;
          margin-top: 0.8em;
          width: fit-content;
        }
      }

      & > #copyright {
        max-width: 22rem;
        border-left: 0.1em solid var(--color-base-1000);
        padding-left: 1em;
        flex-shrink: 1.1;

        @media (max-width: 35rem) {
          border: none;
          padding-left: unset;
        }
      }
    }
  }
</style>
